SERVER_PORT=15201
BOOKS_ROOT=/app/data/books
BOOKMARKS_ROOT=/app/data/bookmarks
POSTGRES_USER=books
POSTGRES_PASSWORD=books
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=books
PGUSER=books
PGPASSWORD=books
PGDATA=/app/data/pgvector
